/*
 Theme Name:   OceanWP Child
 Theme URI:    http://oceanwp.org
 Description:  OceanWP Child Theme
 Author:       William de-Azevedo
 Author URI:   http://william.de-azevedo.fr
 Template:     oceanwp
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  oceanwp-child
*/

/*
* cyan hover used in activities page
*/
.my_trhover:hover
{
   background-color: #6ec1e4;

}

/*
* normal text color
*/
.my_normaltextcolor
{
  color: #7a7a7a;
}

/*
* title text color
*/
.my_titletextcolor
{
  color: #6ec1e4;
}

/*
 * menu bar follow when user scroll
*/
#site-header
{
  position: fixed!important;
}
  
/*
 * bold text
*/
.my_bold
{
  font-weight: bold;
}

/*
* class for buttons
*/
.my_button
{
  font-weight: bold;
}

/*
* color the curent item from menu
*/
li.current-menu-item
{
	background: #6ec1e4;
	color:#fff;
	border: 1px solid white;
}

/*
 * events mobile version
*/
@media (max-width: 760px)
{
  th
  {
    display: none;
  }

  tr
  {
    display: flex;
    flex-direction: column;
  }

  td
  {
    display: flex;
    flex-direction: column;
  }

  .my_trhover
  y{
    border: 1px solid grey;
    border-radius: 8px;
    padding-bottom: 5px;
    margin-bottom: 15px;
  }

  .my_trhover td
  {
    text-align: center;
  }

  .my_boldonmobile
  {
    font-weight: bold;
  }
}

/*
* display page name for mobile version only (instead of menu)
*/
#my_pagename
{
  display: none;
}
@media (max-width: 959px)
{
  #my_pagename
  {
    display: block;
    font-weight: bold;
    font-size: 1.3em;
    text-align: center;
    color: #115172;
  }
}

/*
* disable links in page "Plus d'infos"
*/
.eae-pl-title
{
  pointer-events: none;
}
.eae-pl-image-wrapper
{
  pointer-events: none;
}
